{% block footer %}
  <div class="md-footer-meta md-typeset">
    <div class="md-footer-meta__inner">

      <div>
        <a href="https://tahe.developpez.com" target="_blank">
          https://tahe.developpez.com
        </a>
        <br>
        Ce cours tutoriel écrit par <strong>Serge Tahé</strong> est mis à disposition du public selon les termes de la
        <em>Licence Creative Commons Attribution – Pas d’Utilisation Commerciale –
        Partage dans les Mêmes Conditions 3.0 non transposé</em>.
      </div>

    </div>
  </div>
{% endblock %}
